* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-container ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 200px;

}

.card-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 450px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid gray;
  padding: 7px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 20px;
}

.card-container .image-container img {
  max-width: 100%;
  height: 200px;
  border-radius: 10px;
}

.card-container .title {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.card-container .description {
  color: gray;
  font-size: 14px;
  text-align: center;
  max-width: 100%;
  overflow-wrap: break-word;
}

.card-container .button-container {
  display: flex;
  gap: 25px;
  padding: 10px;
}

.card-container .button-container .add-button {
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 10px 18px;
}


.card-container .button-container .add-button:hover,
.card-container .button-container .remove-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.card-container .button-container .remove-button {
  background-color: #f80c0c;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 10px 18px;
}

.list-counter {
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  margin: 35px;
  margin-top: 150px;
}

.product-number {
  text-decoration: underline;
}

.product-navlink {
  color: #FFFFFF;
  text-decoration: none;
}

.loading-time {
  display: flex;
  justify-content: center;
  align-items: center;
  color: cadetblue;
  font-size: 24px;
  width: 100%;
}

.wishlist-page-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 80px;
}

.wishlist-product-left-side {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 45px;
  padding: 15px;
  padding-top: 50px;
}

.wishlist-product-ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  gap: 20px;
  background-color: rgba(205, 198, 189, 0.3);
  border-radius: 10px;
}

.wishlist-product-li {
  width: 4em;
}

.wishlist-product-img {
  width: 100%;
  border-radius: 8px;
  height: 4em;
  cursor: pointer;
}

.wishlist-product-img:hover {
  box-shadow: 2px 2px 10px rgb(132, 209, 228);
}

.wishlist-zoom-img {
  max-width: 100%;
  border-radius: 20px;
  max-height: 500px;
}

.wishlist-product-right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.wishlist-brandname {
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 20px;
  color: #020202;
  font-weight: bold;
}

.wishlist-category,
.wishlist-title,
.wishlist-description,
.product-price,
.product-stock {
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 20px;
  color: #020202;
}