.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.check-container {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  flex-wrap: nowrap;
}

.container button {
  width: 100px;
}

.check-container label {
  padding-left: 10px;
}